<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                    <h5>Sample Card</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                </div> -->
                <div class="card-body">
                    <form class="search-form" [formGroup]="filterAutorizaciones">
                        <div class="row align-items-end">
                            <div class="col-12 col-sm-5">
                                <div class="form-group">
                                    <label for="search">DNI Apoderado:</label>
                                    <input type="text" id="search" class="form-control" placeholder="Buscar"
                                        formControlName="search">
                                </div>
                            </div>
                            <div class="col-12 col-sm-7 text-right">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary mr-2" (click)="getAutorizaciones(0)">
                                        <app-feather-icons [icon]="'search'"></app-feather-icons> Buscar
                                    </button>
                                    <button type="button" class="btn btn-secondary" (click)="getFile()">
                                        <app-feather-icons [icon]="'download'"></app-feather-icons> Descargar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-primary">
                                <tr>
                                    <th>Apoderado</th>
                                    <th>DNI Apoderado</th>
                                    <th>Responsable Recojo</th>
                                    <th>DNI Responsable</th>
                                    <th>Estudiante</th>
                                    <th>DNI Estudiante</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="autorizaciones && autorizaciones.length>0">
                                    <ng-container *ngFor="let autorizacionG of autorizaciones, let i = index">
                                        <tr>
                                            <td>{{autorizacionG.autorizacion.apoderado.nombres}}
                                                {{autorizacionG.autorizacion.apoderado.ap_paterno}}
                                                {{autorizacionG.autorizacion.apoderado.ap_materno}}</td>
                                            <td>{{autorizacionG.autorizacion.apoderado.numero_documento}}</td>
                                            <td>{{autorizacionG.autorizacion.autorizado.nombres}}
                                                {{autorizacionG.autorizacion.autorizado.ap_paterno}}
                                                {{autorizacionG.autorizacion.autorizado.ap_materno}}</td>
                                            <td>{{autorizacionG.autorizacion.autorizado.numero_documento}}</td>
                                            <td>{{autorizacionG.estudiante.nombres}}
                                                {{autorizacionG.estudiante.ap_paterno}}
                                                {{autorizacionG.estudiante.ap_materno}}</td>
                                            <td>{{autorizacionG.estudiante.numero_documento}}</td>
                                            <td>{{autorizacionG.autorizacion.fecha_inicio}}</td>
                                            <td>{{autorizacionG.autorizacion.fecha_fin}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <div class="table-responsive">
                                <app-pagination *ngIf="pagination && pagination.numeroPaginas>1"
                                    [numeroPaginas]="pagination.numeroPaginas" [paginaActual]="pagination.page"
                                    (onSubmit)="getAutorizaciones($event)">
                                </app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->